<!-- seomigratorpy/migrator/templates/migrator.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- DataTables CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

    <!-- JSZip -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <!-- PDFMake -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <!-- Search builder -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    {% load static %}
    <script src="{% static 'js/migrator.js' %}"></script>
    <title>Seo Migrator</title>
    <meta name="description" content="Seo Migrator tool to test your SEO migration from one domain to another." />

    <style>
      .old-url-set {
        border-right: 2px solid #dee2e6;
      }
      
      .new-url-set {
        border-left: 2px solid #dee2e6;
      }
      
      .dark-mode-switcha {
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .boost-query-switcha {
        position: fixed;
        top: 10px;
        left: 10px;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <!-- Dark Mode Switch -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Seo Migrator</span>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="scanOld" autocomplete="off" />
          <label class="btn btn-outline-primary" for="scanOld"><span class="badge rounded-pill bg-pimary scansecondold visually-hidden"></span> Scan old domain <span class=" spinner-border-sm scanold" role="status" aria-hidden="true"></span></label>

          <input type="radio" class="btn-check" name="btnradio" id="stopScan" autocomplete="off" checked />
          <label class="btn btn-outline-primary" for="stopScan">Stop Scan</label>

          <input type="radio" class="btn-check" name="btnradio" id="scanNew" autocomplete="off" />
          <label class="btn btn-outline-primary" for="scanNew">
            <span class="badge rounded-pill bg-pimary scansecondnew visually-hidden"></span>
             Scan new domain 
            <span class=" spinner-border-sm scannew" role="status" aria-hidden="true"></span>
          </label>
        </div>

        <div class="form-check form-switch dark-mode-switch">
          <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
          <input class="form-check-input" type="checkbox" id="darkModeSwitch" />
        </div>
      </div>
    </nav>

    <div class="progress" style="height: 5px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ number_of_new_urls }}" aria-valuemin="0" aria-valuemax="{{ number_of_urls }}" style="width: {{ progress }}%"></div>
    </div>
    <div class="container-fluid py-5">
      <h1 class="text-center mb-4">Seo Migrator</h1>
      <div class="mb-4">
        <p class="lead">This tool facilitates the testing of your SEO migration from one domain to another. It achieves this by comparing URLs from the old domain with those from the new one.</p>
        <p class="lead">Every discovered URL is added to the indexing queue. As this process can be time-consuming, feel free to refresh the page periodically to monitor the progress.</p>
      </div>

      <form id="myform" method="get" class="mb-3">
        <div class="row">
          <div class="form-group col-md-3">
            {{ form.old_domain.label_tag }}
            {% if form.old_domain.errors %}
              <div class="alert alert-danger" role="alert">{{ form.old_domain.errors }}</div>
            {% endif %}
            {{ form.old_domain }}
          </div>
          <div class="form-group col-md-3">
            {{ form.new_domain.label_tag }}
            {% if form.new_domain.errors %}
              <div class="alert alert-danger" role="alert">{{ form.new_domain.errors }}</div>
            {% endif %}
            {{ form.new_domain }}
          </div>
          <div class="form-group col-md-3">
            {{ form.new_url_to_index.label_tag }}
            <span id="range_value"></span>
            {% if form.new_url_to_index.errors %}
              <div class="alert alert-danger" role="alert">{{ form.new_url_to_index.errors }}</div>
            {% endif %}
            {{ form.new_url_to_index }}
            <script>
              function updateValue(val) {
                document.getElementById('range_value').innerText = val
              }
            </script>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </div>
        </div>
        {% csrf_token %}
      </form>

      <div class="table-responsive">
        <table id="url-table" class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th>
                <input type="checkbox" id="old-url-select-all">
              </th>
              <th>
                Original Domain URLs <span class="badge bg-success">{{ number_of_urls }}</span>
              </th>
              <th>
                HTTP Status{% if number_of_urls_with_status == number_of_urls %}
                  <span class="badge bg-success">{{ number_of_urls_with_status }}</span>
                {% else %}
                  <span class="badge bg-danger">{{ number_of_urls_with_status }}</span>
                {% endif %}
              </th>
              <th>Last Indexed</th>
              <th>TTFB</th>
              <th class="old-url-set">URL ID</th>
              <th class="new-url-set">
                <input type="checkbox" id="new-url-select-all">
              </th>
              <th>
                New Domain URLs{% if number_of_new_urls == number_of_urls %}
                  <span class="badge bg-success">{{ number_of_new_urls }}</span>
                {% else %}
                  <span class="badge bg-danger">{{ number_of_new_urls }}</span>
                {% endif %}
              </th>
              <th>
                HTTP Status{% if number_of_new_domain_urls_with_status == number_of_new_urls %}
                  <span class="badge bg-success">{{ number_of_new_domain_urls_with_status }}</span>
                {% else %}
                  <span class="badge bg-danger">{{ number_of_new_domain_urls_with_status }}</span>
                {% endif %}
              </th>
              <th>Last Indexed</th>
              <th>TTFB</th>
              <th>URL ID</th>
            </tr>
          </thead>
          <tbody>
            {% for old_url, new_url in joined_sets.items %}
              <tr>
                <td>
                  <input type="checkbox" class="old-url-select" value="{{ old_url.id }}">
                </td>
                <td>{{ old_url.url }}</td>
                <td>{{ old_url.http_status }}</td>
                <td>{{ old_url.last_indexed }}</td>
                <td>{{ old_url.time_to_first_bite }}</td>
                <td class="old-url-set">{{ old_url.id }}</td>
                <td class="new-url-set">
                  <input type="checkbox" class="new-url-select" value="{{ new_url.id }}">
                </td>
                <td>{{ new_url.url }}</td>
                <td>{{ new_url.http_status }}</td>
                <td>{{ new_url.last_indexed }}</td>
                <td>{{ new_url.time_to_first_bite }}</td>
                <td>{{ new_url.id }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select id="action-dropdown" name="action" class="form-control">
            <option value="">--Select an action--</option>
            <option value="delete">Delete</option>
            <option value="update" data-bs-toggle="popover" data-bs-placement="right" title="Maximum 5 urls">Index immediatly</option>
            <option value="add_to_queue">Add to index queue</option>
          </select>
          <button id="action-submit" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>      
    </div>

    <script>
      $(document).ready(function () {
        $('#url-table').DataTable({
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All']
          ],
          dom: 'QBlfritip',
          buttons: ['pdfHtml5', 'copyHtml5', 'excelHtml5', 'csv', 'colvis'],
          lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, 'All']
          ]
        })
      })
    </script>
    <script>

    </script>

    <!-- Dark Mode Switch -->
    <script>
      // Get switch element
      var darkModeSwitch = document.getElementById('darkModeSwitch')
      
      // Check for saved 'darkMode' in localStorage
      var darkMode = localStorage.getItem('darkMode')
      
      if (darkMode === 'enabled') {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
        darkModeSwitch.checked = true
      }
      
      // Listen for a click on the switch
      darkModeSwitch.addEventListener('click', function () {
        // If the switch is checked, enable dark mode
        if (darkModeSwitch.checked) {
          document.documentElement.setAttribute('data-bs-theme', 'dark')
          localStorage.setItem('darkMode', 'enabled')
        } else {
          // Else, disable dark mode
          document.documentElement.removeAttribute('data-bs-theme')
          localStorage.setItem('darkMode', null)
        }
      })
    </script>
  </body>
</html>
